<?xml version="1.0" ?>
<config>
    <modules>
        <Fram_Advanceagreements>
            <version>0.1.0</version>
        </Fram_Advanceagreements>
    </modules>
    <global>
        <models>
            <advanceagreements>
                <class>Fram_Advanceagreements_Model</class>
                <resourceModel>advanceagreements_resource</resourceModel>
            </advanceagreements>
            <advanceagreements_resource>
                <class>Fram_Advanceagreements_Model_Resource</class>
                <entities>
                    <group>
                        <table>checkout_agreement_customer_group</table>
                    </group>
                </entities>
            </advanceagreements_resource>
        </models>
        <resources>
            <advanceagreements_setup>
                <setup>
                    <module>Fram_Advanceagreements</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </advanceagreements_setup>
        </resources>
        <blocks>
            <advanceagreements>
                <class>Fram_Advanceagreements_Block</class>
            </advanceagreements>
            <checkout>
                <rewrite>
                    <agreements>Fram_Advanceagreements_Block_Agreements</agreements>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <advanceagreements>
                <class>Fram_Advanceagreements_Helper</class>
            </advanceagreements>
            <checkout>
                <rewrite>
                    <data>Fram_Advanceagreements_Helper_Data</data>
                </rewrite>
            </checkout>
        </helpers>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <advanceagreements>
                        <type>model</type>
                        <class>Fram_Advanceagreements_Model_Observer</class>
                        <method>addCustomerGroupFields</method>
                    </advanceagreements>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_predispatch_adminhtml_checkout_agreement_save>
                <observers>
                    <advanceagreements>
                        <type>model</type>
                        <class>Fram_Advanceagreements_Model_Observer</class>
                        <method>saveAgreementForGroup</method>
                    </advanceagreements>
                </observers>
            </controller_action_predispatch_adminhtml_checkout_agreement_save>
            <controller_action_predispatch_adminhtml_checkout_agreement_delete>
                <observers>
                    <advanceagreements>
                        <type>model</type>
                        <class>Fram_Advanceagreements_Model_Observer</class>
                        <method>deleteAgreementGroup</method>
                    </advanceagreements>
                </observers>
            </controller_action_predispatch_adminhtml_checkout_agreement_delete>
        </events>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <advanceagreements after="Mage_Adminhtml">Fram_Advanceagreements</advanceagreements>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>